<div class="jumbotron text-center">
  <h1>User Management App</h1>   
</div>
<div class="container">
  <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="Users">User List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">User Registration</a>
      </li>   
    </ul>
  </nav>
  <router-outlet></router-outlet>
</div>
